; ANSIBLE
; Netatalk 3.x configuration file
;

[Global]
; Global server settings
log file = /var/log/netatalk.log
;hosts allow = <subnet>
mimic model = TimeCapsule6,116
afp interfaces = re0


;[Homes]
; basedir regex = /home

[doc]
 path = /mnt/zdoc

;[Back In Time]
; path = <path/to/folder>

;[My Time Machine Volume]
[Time_Machine]

[09_MacBackup]
 path = /mnt/zdoc/09_MacBackup
; valid users = <user> 
 time machine = yes
