#!/usr/bin/env zsh
# Powered by Ansible

mini=$(w3m -dump https://www.joyetech.com/mvr-software/\?sid\=234 | grep -n1 "Latest Version" | awk '/Firmware/ {print $2}')
#$(w3m -dump http://www.joyetech.com/mvr-software/\?sid\=234 | awk '/Firmware V/ {print $2}' | head -1)
minikin=$(w3m -dump https://www.asmodus.com/pages/downloads | grep -2 "Minikin 2" | awk '/V/ {print $2}' | head -1 | sed 's/\://')
dotmod=$(w3m -dump https://dotmod.com/pages/dotsquonk-100w-firmware-update | awk '/Firmware update/ { print $3 }')
topside=$(w3m -dump https://www.dovpoecig.com/topside-squonker | awk '/Control Firmware/ {print $5}' | head -1 | sed 's/)//')

b='\e[1;40m'
blue='\e[1;36m'
yellow='\e[1;33m'
noc='\e[0m'

echo $b"Primo Mini (V6.07)$noc = $yellow$mini" $noc
echo "==>$blue https://www.joyetech.com/mvr-software/?sid=234"$noc
echo $b"Minikin V2 (V40)$noc   = $yellow$minikin" $noc
echo "==>$blue https://www.asmodus.com/pages/downloads"$noc
echo $b"DotSquonk (V3.3)$noc   = $yellow$dotmod" $noc
echo "==>$blue https://dotmod.com/pages/dotsquonk-100w-firmware-update"$noc
echo $b"Topside (V1.0.2)$noc   = $yellow$topside" $noc
echo "==>$blue https://www.dovpoecig.com/topside-squonker"$noc
